<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.6.3/css/all.min.css}"/>
    </head>
    <body>
        <div th:replace="fragments/header::header">Header</div>
        <div class="container">
            <h1 class="btn btn-primary"> <span class="fa fa-home"></span> &nbsp; SONSO.ORG</h1>
            <h1>hello - this is edit staff</h1>
            <hr/>
            <h1>Edit the staff <span th:text="${idStaff}"></span></h1>
            <form th:object="${staff}" th:action="@{/staffs/edit}" method="post">
                <div class="form-group"> 
                    <label for="idStaff">ID STAFF:</label>
                    <input type="text" th:field="*{idStaff}" readonly="" class="form-control"/>
                </div>
                <div class="form-group"> 
                    <label for="nameStaff">NAME STAFF:</label>
                    <input type="text" th:field="*{nameStaff}" class="form-control"/>
                </div>
                <div class="form-group"> 
                    <label for="gender">GENDER:</label>
                    <input type="text" th:field="*{gender}" class="form-control"/>
                </div>
                <div class="form-group"> 
                    <label for="birthday">BIRTHDAY:</label>
                    <input type="text" th:field="*{birthday}" class="form-control"/>
                </div>
                <div class="form-group"> 
                    <label for="phone">PHONE:</label>
                    <input type="text" th:field="*{phone}" class="form-control"/>
                </div>
                <div class="form-group"> 
                    <label for="email">EMAIL:</label>
                    <input type="email" th:field="*{email}" class="form-control"/>
                </div>
                <div class="form-group"> 
                    <label for="salary">SALARY:</label>
                    <input type="text" th:field="*{salary}" class="form-control"/>
                </div>
                <div class="form-group"> 
                    <label for="note">NOTE</label>
                    <input type="text" th:field="*{note}" class="form-control"/>
                </div>
<!--                <div class="form-group"> 
                    <label for="idDepartment">ID DEPARTMENT:</label>
                    <input type="text" th:field="*{idDepartment}" class="form-control"/>
                </div>-->
                    <div class="form-group">
                                <label for="idDepartment">IDDEPARTMENT</label>
                                <select class="form-control" id="exampleFormControlSelect1" name="idDepartment">
                                    <th:block th:each="item: ${department}">
                                        <option th:text="${item.nameDeprtment}" th:value="${item.idDepartment}">1</option>
                                    </th:block>
                                </select>
                                
                            </div>
                <input type="submit" name="Update" class="btn btn-warning">
            </form>
            
            <a th:href="${'/staffs/view'}" class="btn btn-primary">List all staff</a>
        </div>
    </body>
</html>
