<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.6.3/css/all.min.css}"/>
    </head>
    
    <body>
        <div th:replace="fragments/header::header">Header</div>
        <div class="container">
            <h1>xin chao day la trang add SparePart</h1>
            <hr/>
            <form  th:object="${sparePart}" th:action="@{/spareParts/add}" method="post">
                <div class="form-group">
                    <label for="idSparePart">idSparePart</label>
                    <input type="text" th:field="*{idSparePart}" class="form-control"><br>
                   
                </div>
                <div class="form-group">
                    <label for="nameSparePart">nameSparePart</label>
                    <input type="text" th:field="*{nameSparePart}" class="form-control">
                </div>
                <div class="form-group">
                    <label for="quantity">quantity</label>
                    <input type="text" th:field="*{quantity}" class="form-control" >
                </div>
                <div class="form-group">
                    <label for="price">price</label>
                    <input type="text" th:field="*{price}" class="form-control" >
                </div>
                <div class="form-group">
                    <label for="menuDate">menuDate</label>
                    <input type="text" th:field="*{menuDate}" class="form-control" >
                </div>
                <div class="form-group">
                    <label for="description">description</label>
                    <input type="text" th:field="*{description}" class="form-control" >
                </div>

                <!--<button type="submit" class="btn btn-primary">Add</button>-->
                <input type="submit" name="Add New" class="btn btn-warning">
            </form>
            
            <a th:href="${'/spareParts/view'}" class="btn btn-info">List All sparePart</a>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
