<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.6.3/css/all.min.css}"/>
    </head>
    
    <body>
        <div th:replace="fragments/header::header">Header</div>
        <div class="container">
            <h1 class="btn btn-primary"> <span class="fa fa-home"></span> &nbsp; SONSO.ORG</h1>
            <h1>List all SparePart</h1>
            <hr/>
            <a th:href="${'/spareParts/add'}" class="btn btn-success">Add new SparePart</a>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">idSparePart</th>
                        <th scope="col">nameSparePart</th>
                        <th scope="col">quantity</th>
                        <th scope="col">price</th>
                        <th scope="col">menuDate</th>
                        <th scope="col">description</th>
                        <th scope="col">#</th>
                    </tr>
                </thead>
                <tbody>
                   <tr th:each="sparePart: ${spareParts}">
                        <td th:text="${sparePart.idSparePart}"></td>
                        <td th:text="${sparePart.nameSparePart}"></td>
                        <td th:text="${sparePart.quantity}"></td>
                        <td th:text="${sparePart.price}"></td>
                        <td th:text="${sparePart.menuDate}"></td>
                        <td th:text="${sparePart.description}"></td>
                        <td>
                            <a th:href="${'/spareParts/edit/' + sparePart.idSparePart}">Edit</a>
                            <a th:href="${'/spareParts/delete/' + sparePart.idSparePart}">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}" ></script>
        <script th:src="@{/webjars/popper/js/1.14.6/umd/popper.min.js}"></script>
    </body>
</html>
